body{
    background-color: #c6cbcb !important; 
    
}

table.table-bordered{
    border:2px solid #666b6b;
    margin-top:20px;
  }
table.table-bordered > thead > tr > th{
    border:1px solid #666b6b;
}
table.table-bordered > tbody > tr > td{
    border:1px solid #666b6b;
}
table.table-bordered > tbody > tr > th{
    border:1px solid #666b6b;
}



.img_principal{
    margin:0px;
}

.caja{
    background-color: #d6e7e7 !important; 
}

.caja2{
    background-color: #dae9e9 !important; 
}

.titulo{
    margin-bottom:2.5rem;
}

.blanco{
    color:white;
}

.tabla_scroll_x {
    max-height: 40rem;
    overflow: auto;
    display:inline-block;
}

.tabla_scroll_y {
    position: relative;
    height: 30rem;
    overflow: auto;
}


.tabla_scroll_y_20 {
    position: relative;
    height: 20rem;
    overflow: auto;
}

.tabla_scroll_y_25 {
    position: relative;
    height: 25rem;
    overflow: auto;
}

.width_col{
    width: 11rem;
}

.width_col2{
    width: 25rem;
}

.coloca_abajo {
    position:absolute;
    bottom: 5%;
    width: 100%;
}

.margen_superior{
    margin-top: 4rem;
}

.borde_visible{
    padding-right: 3rem;
    padding-left: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    border-style: inset;
}




#e1:hover {
    background-color:  #525454   ;
  }
#e2:hover {
    background-color:  #525454  ;
}
#e3:hover {
    background-color:   #525454  ;
}



/*Cabecera*/
.header_without_account1{
    margin-left:1.1rem;
}

.header_without_account2{
    margin-right: 0.2rem;
}

.cabecera_with_account{
    padding-left:0.3rem; 
    padding-top:0.1rem; 
    padding-bottom:0.1rem;
}

.margin_right_05{
    margin-right:0.5rem;
}

.margin_right_02{
    margin-right:0.2rem;
}


/*Inicio*/
.margin_bottom_1{
    margin-bottom: 1rem;
}

.margin_left_05{
    margin-left: 0.5rem;
}

.logo_inicio{
    width: 15rem; 
    margin-top: 1rem; 
    margin-bottom: 1rem;
}

.cursor_puntero{
    cursor: pointer;
}

.error1{
    color: red;
}

/*Registro*/
.max_width_50{
    max-width: 50rem;
}


/*Principal*/

.principal_container{
    width : 120%; 
    margin-bottom:8rem;
}

.margin_bottom_5{
    margin-bottom: 5rem;
}

.padding_top_1{
    padding-top: 1rem;
}

.back_black{
    background-color: black;
}


/*Datasets*/

.sin_decoracion{
    text-decoration: none;
}

.width_14{
    width: 14rem;
}




.container_botones_dat{
    margin-top:1rem; 
    margin-bottom: 2rem;
}

.loaddor{
    width: 6rem;
    height: 6rem;
    margin: 2rem;
}

.loaddor_grande{
    width: 12rem;
    height: 12rem;
    margin: 4rem;
}

.btn_atras{
    top:5.5rem; 
    width: 6.7rem; 
    margin-left:1rem;
    padding-left:1rem;
    padding-right:1rem;
}

.img_btn_atras{
    margin-left:0rem;
    margin-right:1rem;
}

.width_6{
    width: 6rem;
}

/*Generar dataset*/
.width_10{
    width: 10rem;
}

.display_block{
    display:block;
}


/*Objeto removed*/

.width_15{
    width: 15rem;
}

.margin_bottom_2{
    margin-bottom: 2rem;
}


/*Models*/
.margin_left_3{
    margin-left: 3rem;
}

.margin_top_1{
    margin-top: 1rem;
}

.dataset_de_model{
    margin-left:2rem; 
    text-decoration: none;
}

.en_linea{
    display: inline;
}

.columna_izquierda_train{
    padding-right:20px; 
    border-right: 1px solid #ccc;
}



/*Entrenamientos*/
.sin_elementos{
    margin-top:2rem;
    margin-bottom:2rem;
}

.btn_refresh{
    top:1rem; 
    margin-left:1rem;
    padding-left:1rem;
    padding-right:1rem;

}

.btn_refresh_img{
    margin-left:0rem;
    margin-right:1rem;

}

.desplegable{
    z-index:1;
    position:relative;
}

.prof_frente{
    z-index:1;
}

.prof_atras{
    z-index:-1;
}

.top_5_5{
    top: 5.5rem;
}


.top_8{
    top: 8rem;
}

.top_0_3{
    top: 0.3rem;
}

.top_0_4{
    top: 0.4rem;
}

.margin_top_0_5{
    margin-top:0.5rem;
}

.font_size_0_9{
    font-size:0.9rem;
}

.margin_top_6{
    margin-top: 6rem;
}

.margin_top_2{
    margin-top: 2rem;
}

.campo_neurona{
    max-width: 6rem;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
}

.btn_neurona{
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
}



/*Reconstrucción de imágenes*/
.caja_img1{
    margin-bottom: 2rem; 
    margin-right:1rem;
}

.caja_img2{
    margin-top:2rem; 
    margin-bottom:8rem;
}

.width_3{
    width: 3rem;
}

/*Comparación models*/

.titulo_arriba{
    caption-side: top;
}

.padding_top_2rem{
    padding-top: 2rem;
}

/*Modales*/
.letras_blancas{
    color: white;
}


.selected{
    width: 150rem;
}

.img_rec{
    width: 95%;
    margin-bottom: 4rem;
    margin-top: 2rem;
}


.linea_tabla{
    border-bottom: 1px solid black;
}

.negro{
    color: black;
}
